.precautions__section {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.precautions__container {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.precautions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.precautions-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cov-left {
  position: absolute;
  max-width: 120px;
  margin-top: -150px;
}

.cov-right-sm {
  position: absolute;
  right: 0;
  max-width: 120px;
  margin-top: -150px;
}

.cov-right {
  position: absolute;
  right: 0;
  max-width: 120px;
}

.precautions-text > h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #035755;
}

.precautions-text > p {
  font-size: 14px;
  margin-bottom: 24px;
  color: #4B4F51;
  line-height: 30px;
}

.precaution-info {
  max-width: 30%;
  padding-top: 0px 50px;
  display: flex;
}

.precaution-image {
max-width: 30%;
}

.precaution-number {
  max-width: 60px;
  max-height: 60px;
  margin: 0px 30px;
  margin-top: -10px;
}

.rpd {
  margin-right: 100px;
}

.lpd {
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  .precautions__section {
    padding-top: 150px;
  }

  .precaution-info {
    max-width: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
  }
  .cov-left, .cov-right, .cov-right-sm {
    opacity: 0;
  }

  .precautions-row {
    display: inline;
  }

  .precautions-text > p {
    text-align: center;
  }

  .precautions-text > h3 {
    text-align: center;
  }

  .precaution-image {
    max-width: 70%;
    padding-bottom: 70px;
  }

  .center-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .precaution-number {
    max-width: 60px;
    max-height: 60px;
    margin: 20px 0px;
  }
 
}
  