.symptoms__section {
    padding: 0px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
  }
  
  .symptoms__container-card {
    background: #fff;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
    width: 330px;
    height: 420px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    border-radius: 5px;
  }
  
  .symptoms__container-card:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    border-bottom: 7px solid #FA5652;
  }
  
  .symptoms__container-card:nth-child(2) {
    margin: 0 25px;
  }
  
  .symptoms__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .symptoms__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  .symptoms__heading {
    color: #1c2237;
    margin-bottom: 24px;
  }
  
  .symptoms__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 24px;
    align-items: center;
  }
  
  .symptoms__container-cardInfo h3 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #035755;
    text-align: center;
  }
  
  .symptoms__container-cardInfo p {
    font-size: 14px;
    margin-bottom: 24px;
    color: #4B4F51;
    line-height: 30px;
    text-align: center;
  }
  
  .symptoms__container-features {
    margin: 16px 0 32px;
    list-style: none;
  }
  
  .symptoms__container-features li {
    margin-bottom: 10px;
  }
  
  .symptoms__container-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    margin: 24px 0;
  }
  
  @media screen and (max-width: 960px) {
    .symptoms__section {
      padding-top: 100px;
    }
    
    .symptoms__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .symptoms__container-card {
      border-bottom: 7px solid #FA5652;
      width: 90%;
    }
  
    .symptoms__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .symptoms__container-card:nth-child(2) {
      transform: scale(1);
      margin: 24px;
    }
  
    .symptoms__container-card:hover {
      transform: none;
    }
  }
  