.contagion__section {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.contagion__container-card {
  background: #fff;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  width: 330px;
  height: 420px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

.contagion__container-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  border-bottom: 7px solid #FA5652;
}

.contagion__container-card:nth-child(2) {
  margin: 0 25px;
}

.contagion__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contagion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.contagion__heading {
  color: #1c2237;
  margin-bottom: 24px;
}

.contagion__container-cardInfo {
  display: flex;
  flex-direction: column;
  height: 700px;
  padding: 24px;
  align-items: center;
}

.contagion__container-cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #035755;
  text-align: center;
}

.contagion__container-cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
  color: #4B4F51;
  line-height: 30px;
  text-align: center;
}

.contagion__container-features {
  margin: 16px 0 32px;
  list-style: none;
}

.contagion__container-features li {
  margin-bottom: 10px;
}

.contagion__container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.covIcon {
  position: absolute;
  margin-left: 130px;
  margin-top: 400px;
}

@media screen and (max-width: 960px) {
  .contagion__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contagion__container-card {
    border-bottom: 7px solid #FA5652;
    width: 90%;
    padding-bottom: 500px;
  }

  .contagion__wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contagion__container-card:nth-child(2) {
    margin: 24px;
  }

  .contagion__container-card:hover {
    transform: none;
  }

  .covIcon {
    opacity: 0;
  }
}
